@mixin set-size {
  width: 150px;
  height: 50px;
}

body {
  margin: auto;

  #email {
    @include set-size;
  }

  #email-copy {
    @include set-size;
  }

  #validate:hover {
    border: 4px solid #A4C6FD;
  }
}